<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="login-container">
    <h1>WELCOME HOME!</h1>
    <p>Login to see new things</p>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-toast
      *ngIf="loginError"
      [isOpen]="isToastOpen"
      message="{{ loginError }}"
      [duration]="5000"
      (didDismiss)="setOpen(false)"
    ></ion-toast>
    <!-- <div *ngIf="loginError" class="error-message">{{ loginError }}</div> -->
    <ion-row>
      <ion-col>
        <ion-button
          class="login-button"
          type="submit"
          expand="block"
          (click)="login()"
        >
          Log in
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
